.experience {
    padding: 0 150px;
}

.experience > hr {
    border-color: aqua;
    max-width: 50px;
    border-width: 3px;
    border-top: 0px solid rgba(0,0,0,.1);
    border-left-style: solid;
    margin-bottom: 25px;
}

.experience > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.experience > div > img:first-child {
    padding-right: 100px;
}