.experience {
    padding: 0 150px 25px 150px;
    margin-bottom: 6px;
}

.experience > hr {
    border-color: aqua;
    max-width: 50px;
    border-width: 3px;
    border-top: 0px solid rgba(0,0,0,.1);
    border-left-style: solid;
    box-shadow: 0 0 3px black;
    margin-bottom: 25px;
}

.experience > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}


.experience > div > img:first-child {
    padding-right: 100px;
}



@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px) {

    .experience {
        padding: 0 0px 25px 0px;
    }

    .experience > div {
        flex-direction: column;
    }

    .experience > div > img {
        padding: 25px 0 25px 0;
    }

    .experience > div > img:first-child {
        padding-right: 0px;
    }
  } 