.certificate {
    background-image: linear-gradient(150deg, black 0, lightgray 100%);
    margin-top: -4px;
    padding-bottom: 25px;
    color: white;
}

.certificate > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
}

.button {
    font-family: 'Roboto';
    background-image: linear-gradient(45deg, rgb(0, 202, 202) 0, aqua 100%);
    border-color: aqua;
    color: black;
    font-size: 14px;
    padding: 12px 35px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:focus {
    outline: none;
}


@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px) {
    
    .card {
        width: 75%;
        margin: 15px;
    }
}