.card > div, .card > a {
    display: flex;
    align-items: center;
}

.card > div:not(:hover) {
    color: black;
}

.card > a {
    color: rgb(0, 202, 202);
    cursor: pointer;
}

.card > div {
    justify-content: center;
    overflow-x: auto;
    width: calc(100% - 30px);
    margin-top: 20px;
}

.card  {
    width: 20%;
    margin: 20px;
    align-items: center;
    flex-direction: column;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background-color: white;
    border-radius: 7px;
    height: 120px;
    justify-content: space-between;
}

.card h4 {
    width: 65%;
    overflow-y: auto;
    max-height: 50px;
}

.card > div > h4 {
    margin: 0;
}

.card > div > svg {
    color: rgb(0, 202, 202);
    padding-right: 20px;
}

.card > a > svg {
    padding-right: 5px;
}

.card a h4 {
    width: 70px;
}

.card:hover svg, .card:hover > a > h4 {
    color: black;
}

.card:hover {
    background-color: rgb(0, 202, 202);
}

.card:hover div h4 {
    color: white;
}




