.card > div, .card > a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
}

.card  {
    width: 20%;
    margin: 20px;
    align-items: center;
    flex-direction: column;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background-color: white;
    border-radius: 7px;
}

.card h4 {
    width: 60%;
}

.card > div > span {
    color: rgb(0, 202, 202);
    padding-right: 20px;
}

.card > div > a > .iconeCertificado {
    padding-right: 5px;
}

