.skills {
    background-color: lightgrey;
    padding: 0 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.skills > hr {
    border-color: aqua;
    max-width: 50px;
    border-width: 3px;
    border-top: 0px solid rgba(0,0,0,.1);
    border-left-style: solid;
    margin-bottom: 25px;
}