.hobbies {
    margin: 0 150px;
    padding-bottom: 25px;
}

.hobbies > nav {
    background-color: white;
    justify-content: flex-end;
    padding-right: 8px;
}

.hobbies > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.hobbies h4 {
    padding-right: 50px;
}

.hobbies h4:last-child {
    padding-right: 0px;
}

.hobbies > hr {
    border-color: aqua;
    max-width: 50px;
    border-width: 3px;
    border-top: 0px solid rgba(0,0,0,.1);
    border-left-style: solid;
    box-shadow: 0 0 3px black;
    margin-bottom: 25px;
}

.hobbies article {
    border: 2px solid black;
    height: 135px;
}



@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px) {
      
    
    .hobbies {
        margin: 0px;
        padding-bottom: 0px;
    }

    .hobbies > div {
        margin: 0px;
    }

    .hobbies h4 {
        padding: 0px;
    }

    .hobbies > div {
        flex-direction: column;
    }

    nav > ul {
        flex-direction: column;
    }

    .hobbies article {
        transform: rotate(90deg);
        height: 160px;
    }

    .interesses svg {
        width: 2em;
        height: 2em;
    }

}