.hobbies {
    margin: 0 150px;
}

.hobbies > nav {
    background-color: white;
    justify-content: flex-end;
    padding-right: 8px;
}

.hobbies > div {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.hobbies h4 {
    padding-right: 50px;
}

.hobbies h4:last-child {
    padding-right: 0px;
}

.hobbies > hr {
    border-color: aqua;
    max-width: 50px;
    border-width: 3px;
    border-top: 0px solid rgba(0,0,0,.1);
    border-left-style: solid;
    margin-bottom: 25px;
}

.hobbies article {
    border: 1px solid aqua;
}