.interesses > div {
    display: flex;
}


@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px) {
      
    
    .interesses nav > ul > li {
        size: 2em;
        padding: 10px;
    }

    .interesses nav > ul {
        flex-direction: row;
        margin-top: 0;
    }

    .interesses nav > ul > li > h4 {
        display: none;
    }
}