.introducao > div > h4 {
    margin: 0 30% 25px 30%;
    text-align: center;
}

.introducao > img {
    height: 670px;
    width: 100%;
}

.introducao > div {
    position: absolute;
    top: 30px;
    color: white;
    width: 100%;
}

.introducao > div > .intro > h1 {
    font-size: 40px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0 60px 0;
}

.fotoRenan {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    border: 3px solid aqua;
}


@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px) {

    .introducao > div > h4 {
        margin: 20px 50px;
    }

    .intro {
        flex-direction: column;
        padding: 50px 0 0 0;
    }

    .introducao ul {
        flex-direction: row;
    }

    .introducao > div {
        margin-top: -50px;
        padding-left: 0;
    }

    .introducao > div > .intro > h1{
        font-size: 30px;
        padding: 0px;
    }

    nav > ul > li {
        padding-right: 30px;
    }

    .introducao {
        background-color: black;
        padding-top: 325px;
    }

    .introducao > img {
        height: 300px;
    }

  }