#root {
    display: flex;
    flex-direction: column;
    
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-weight: lighter;
}

h1 {
    text-align: center;
    padding: 25px;
    font-family: 'Roboto';
    font-weight: bolder;
    text-transform: uppercase;
}

h4 {
    font-family: 'Roboto';
    font-weight: lighter;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > ul {
    display: flex;
    list-style-type: none;   
    padding: 0;
}

nav > ul > li {
    padding-right: 70px;
    text-align: center;
}

nav > ul > li:last-child {
    padding-right: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: aqua;
    cursor: pointer;
}

hr {
    width: 50px;
    border: 2px solid aqua;
    margin-bottom: 25px;
}




